<body>
<link rel="stylesheet" href="/site/coral.ru/css/main.less">

<div id="site-wrap">

    <section class="intro">
        <div class="contenu">
            <p>
                Еще не&nbsp;путешествовали с Coral Travel? Только для новых клиентов дарим <strong>скидку&nbsp;3%</strong> на&nbsp;путешествие
                по&nbsp;промокоду <strong>НОВЫЙ</strong> на&nbsp;максимально простых условиях. Забронируйте отпуск на&nbsp;песчаных пляжах Аланьи,
                отправляйтесь фотографироваться на&nbsp;122&nbsp;этаже Бурдж-Халифа в&nbsp;Дубае, изучать яркие рифы Красного моря
                в&nbsp;Египте или прыгать в&nbsp;океан из&nbsp;личного бунгало на&nbsp;Мальдивах. Решать вам! Акция действует
                с&nbsp;вечера пятница по&nbsp;воскресенье.
            </p>
            <ul class="usps">
                <li>6 лучших, пляжных стран от&nbsp;Турции до&nbsp;Индии</li>
                <li>Простые условия и&nbsp;минимум ограничений</li>
                <li>Только для новых клиентов</li>
                <li>Познакомьтесь с&nbsp;Coral&nbsp;Travel на&nbsp;выгодных&nbsp;условиях</li>
            </ul>
            <div class="actions">
                <button class="with-down-arrow" data-scrollto="#hotels-set" data-ym-reachgoal="choose-tour">Выбрать тур</button>
            </div>
            <div class="promo-terms">
                <h3>Условия акции</h3>
                <ul class="terms">
                    <li>Срок действия: 23.02 - 26.02. Даты тура: любые</li>
                    <li>Города вылета: все</li>
                    <li>Направления: Турция, ОАЭ, Египет, Таиланд, Индия и Мальдивы.</li>
                    <li>Акция не распространяется на туры по России и СНГ.</li>
                    <li>Предложение не суммируется с другими акциями Coral Travel, в&nbsp;том числе с&nbsp;Coral&nbsp;Bonus и&nbsp;скидкой
                        постоянного клиента.
                    </li>
                    <li>Акция распространяется на туры с перелетом на блоках мест ТО (не&nbsp;распространяется на туры
                        с&nbsp;перелетом на&nbsp;GDS)
                    </li>
                </ul>
                <p class="how2use">
                    <strong>Как воспользоваться</strong>: введите промокод <strong>НОВЫЙ</strong> в&nbsp;поле «Примечание к&nbsp;заказу» или сообщите&nbsp;менеджеру.
                </p>
            </div>
        </div>
    </section>

    <section class="what2choose">
        <div class="contenu">
            <h2>Куда полететь со&nbsp;скидкой&nbsp;3%</h2>
        </div>
    </section>

    <template id="_intro_markup">
        <div class="video-box">
            <div class="backdrop"></div>
            <!--            <div id="vimeo-visual-desktop" data-vimeo-id="763677286" class="vimeo-wrap hidden-on-mobile"></div>-->
            <!--            <div id="vimeo-visual-mobile" data-vimeo-id="763677274" class="vimeo-wrap hidden-on-desktop"></div>-->
            <div class="info-overlay">
                <div class="msg">
                    <h2>Минус 3% на&nbsp;тур <br>для новых клиентов!</h2>
                    <ul class="benefits">
                        <li><span>Самые хитовые <br>направления <br>для отдыха</span></li>
                        <li><span>Простые условия <br>акции</span></li>
                        <li><span>Только для тех, кто первый <br>раз путешествует <br>с&nbsp;Coral&nbsp;Travel</span></li>
                    </ul>
<!--
                    <div class="actions">
                        <button class="with-down-arrow">Выбрать тур</button>
                    </div>
-->
                </div>
            </div>
        </div>
    </template>

</div>

<script src="/site/coral.ru/js/index.coffee"></script>
</body>